<form id="form-validate" class="form" action="<?= $block->getPostActionUrl(); ?>" method="post">
    <fieldset class="fieldset">
        <div class="field required">
            <label for="number" class="label"><span><?php /* @escapeNotVerified */ echo __('Customer Status') ?></span></label>
            <div class="control">
                <input type="text" id="customer_status" name="customer_status" class="input-text required-entry" value="<?php echo $block->getCustomerStatus() ?>"/>
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary" title="<?php /* @escapeNotVerified */ echo __('Save') ?>">
                <span><?php /* @escapeNotVerified */ echo __('Save') ?></span>
            </button>
        </div>
    </div>
</form>

<script>
    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#form-validate');
        var ignore = 'null';

        dataForm.mage('validation', {
            ignore: 'hidden'
        }).find('input:text').attr('autocomplete', 'off');

    });
</script>
